@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.neon-blue {
  box-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff;
}

.neon-red {
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

.neon-green {
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}
aside {
  display: none;
}

aside.open {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1);
  }
}